*, *::before, *::after, body {
    box-sizing: border-box;
}

html, body {
    background: linear-gradient(45deg, #272626, #1e1e1e);
    font-family: 'Open Sans', sans-serif;
    color: #f1ecec;
    text-align: center;
}

h1 {
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    text-align: center;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 5rem;
}

h2, h3, blockquote, table, p, pre, code {
    width: 80%;
}
